body {
    &.color--deep-space {
        background: #000;
        background: linear-gradient(to left, #000 , #434343);
    }

    &.color--frost {
        background: #000428;
        background: linear-gradient(to left, #000428 , #004e92);
    }

    &.color--graydient {
        background: #bdc3c7;
        background: linear-gradient(to left, #bdc3c7 , #2c3e50);
    }

    &.color--royal {
        background: #141E30;
        background: linear-gradient(to left, #141E30 , #243B55);
    }

    &.color--mirage {
        background: #16222A;
        background: linear-gradient(to left, #16222A , #3A6073);
    }

    &.color--nighthawk {
        background: #2980b9;
        background: linear-gradient(to left, #2980b9 , #2c3e50);
    }

    &.color--purple-paradise {
        background: #1D2B64;
        background: linear-gradient(to left, #1D2B64 , #F8CDDA);
    }
}
