@import '_variables';

.flr {
    opacity: 0;
    @include standard-curve(opacity, 0.3s);
    
    &.--visible {
        opacity: 1;
    }
}

.filter-box {
    width: 200px;
}
.mdl-menu {
    min-width: inherit;
}
.mdl-select-wrapper {
    float: left;
    width: 95px;

    .mdl-textfield__input {
        color: white;
        border-bottom: 1px solid rgba($highlight-color, 0.3);
    }
    
    .mdl-textfield__label:after {
        background-color: $highlight-color;
    }
    
    .getmdl-select .mdl-textfield__input {
        cursor: pointer;
    }
}

.mdl-menu__item {
    height: 36px;
    line-height: 36px;
    padding: 0 8px;
    text-align: center;
}