@import '_mixins';
@import '_variables';

.notification-area {
    border-radius: 2px;
    bottom: 16px;
    display: flex;
    height: 330px;
    margin-left: 16px;
    max-width: 400px;
    overflow: hidden;
    position: fixed;
    width: calc(100% - 32px);

    .filter-box {
        margin-left: 70px;
        margin-top: 5px;

        .--building {
            margin-right: 10px;
        }
    }

    &.--current-time {
        .mdl-textfield__label {
            color: $disabled-color;
        }

        .mdl-textfield__input {
            border-bottom-color: $disabled-color;
        }

        .mdl-textfield.is-disabled.is-disabled .mdl-textfield__label {
            color: $disabled-color;
        }
    }

    #btn-menu-opener .mdc-fab__icon.--search {
        display: none;
    }

    .mdl-select-wrapper {
        opacity: 0;
        @include standard-curve(opacity, 0.5s);
    }

    .mdl-switch  {
        &:last-child {
            margin-top: 8px;
        }
        opacity: 0;

        @include standard-curve(opacity, 0.5s);

        &.is-checked {
            .mdl-switch__thumb {
                background: $highlight-color;
            }
    
            .mdl-switch__track {
                background: rgba($highlight-color, .5);
            }
        }
    }

    .mdl-textfield {
        width: 95px;
    }

    input[type="text"] {
        -webkit-appearance: none;
        -webkit-border-radius: 0; 
                border-radius: 0;
    }

    .mdl-textfield__input {
        &:disabled {
            cursor: inherit;
            color: $disabled-color;
        }

        color: white;
        border-bottom: 1px solid $highlight-color;

        &.is-focused {
            .mdl-textfield__label {
                color: $highlight-color;
            }
        }
    }
    
    .mdl-textfield__label {
        &:after {
            background-color: $highlight-color;
        }

        color: white;
    }

    .mdl-textfield--floating-label {
        &.is-dirty, 
        &.is-focused {
            .mdl-textfield__label {
                color: $highlight-color;
            }
        } 
    }

    color: $highlight-color;

    &.notification-area--expanded {
        pointer-events: auto;

        .notification-ripple {
            transform: scale(1) translate(30%,-30%);
        }

        .mdl-select-wrapper {
            opacity: 1;
        }

        .mdl-switch {
            opacity: 1;
        }

        .notification-content{
            transform: translateY(0);
        }

        #btn-menu-opener {
            .mdc-fab__icon.--search {
                display: block;
            }

            .mdc-fab__icon.--filter {
                display: none;
            }
        }

        #btn-menu-close {
            bottom: 70px;
        }
    }

    .notification-ripple {
        position: absolute;
        left: -392px;
        bottom: -392px;
        border-radius: 50%;
        width: 848px;
        height: 848px;
        background: #313131;
        backface-visibility: hidden;
        will-change: transform;
        transform: scale(.056);
        transform-origin: 50% 50%;
        @include standard-curve(transform, 0.3s);
    }

    .notification-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        transform: translateY(100%) translate(0,-64px);
        @include standard-curve(transform, 0.255s);
        backface-visibility: hidden;
        overflow: hidden;
    }

    .notification-toggle-button {
        width: 48px;
        height: 48px;
        border: none;
        padding: 0;
        border-radius: 24px;
        outline: 0;
        flex: 0 0 auto;
        pointer-events: auto;
        margin-right: 8px;
        cursor: pointer;
        position: relative;
    }
}

#btn-menu-opener {
    bottom: 5px;
    left: 5px;
    position: absolute;
    z-index: 10;
}

#btn-menu-close {
    @include standard-curve(bottom, 0.3s);
    background-color: rgba(0, 0, 0, 0);
    bottom: 5px;
    box-shadow: none;
    left: 5px;
    position: absolute;
    z-index: 1;
}

.switch-wrapper {
    bottom: 7px;
    position: absolute;

    .mdl-switch__ripple-container .mdl-ripple {
        background: $highlight-color;
    }
}