$primary-text-color : #414141;
$card-bg-color      : #efefef;
$available-color    : #4CAF50;
$occupied-color     : #f44336;
$highlight-color    : #ff4081;
$disabled-color     : #676767;
$menu-color         : #313131;
$time-label-color   : #aeaeae;