@import '_mixins';
@import '_fonts';
@import '_body';
@import '_fr-cards';
@import '_viewports';

$mdc-theme-accent: #f44336;
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/roboto-regular.woff2') format('woff2')
        url('../fonts/roboto-regular.woff') format('woff');
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
