@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-regular.woff2") format("woff2") url("../fonts/roboto-regular.woff") format("woff"); }

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  background-color: #607d8b;
  color: white;
  font-family: Roboto, sans-serif; }

* {
  box-sizing: border-box; }

form {
  display: flex;
  width: 350px;
  padding: 10px;
  align-items: center;
  justify-content: space-between; }
  form .form__left {
    display: flex;
    flex-direction: column; }
  form label, form button {
    margin-bottom: 10px; }

input {
  text-align: center; }

button {
  color: white;
  cursor: pointer;
  border-style: none;
  border-radius: 2px;
  padding: 5px;
  background-color: #2196f3;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24); }
  button:hover, button:focus {
    background-color: #51adf6; }
